<p-table #dt [columns]="cols" [value]="documentos" [responsive]="true" [paginator]="true" [rows]="7" [lazy]="true"
    [totalRecords]="totalRecords$  | async" (onLazyLoad)="loadLazy($event)" [(first)]="first">
    <ng-template pTemplate="caption">
        Procesar Documentos Electronicoss
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em">
                <!--<p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
            </th>
            <th *ngFor="let col of columns" [ngStyle]="{'width': col.width, 'display': col.display}"
                [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order">
                </p-sortIcon>
            </th>
            <!--<th style="width:4em">PDF</th>-->
        </tr>
        <tr>
            <th style="width: 3em">

            </th>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <p-multiSelect *ngSwitchCase="'cci_empresa'" [options]="empresas" [style]="{'width':'100%'}"
                    defaultLabel="TODOS" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"
                    [(ngModel)]="txtEmpresa">
                </p-multiSelect>

                <p-multiSelect *ngSwitchCase="'cci_tipocmpr'" [options]="cci_tipocmpr" [style]="{'width':'100%'}"
                    defaultLabel="TODOS" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"
                    [(ngModel)]="txtTipocmpr">
                </p-multiSelect>

                <input *ngSwitchCase="'nci_documento'" pInputText type="text" [style]="{'width':'100%'}"
                    (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" pKeyFilter="int"
                    [(ngModel)]="txtDocumento">

                <p-multiSelect *ngSwitchCase="'ces_fe'" [options]="estados" [style]="{'width':'100%'}"
                    defaultLabel="TODOS" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"
                    [(ngModel)]="txtEstado">
                </p-multiSelect>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr style="height:1em">
            <!--<tr style="height:1em" [pSelectableRow]="rowData">-->
            <td style="height: 0.8em; font-size: 1em;">
                <!--<p-tableCheckbox [value]="rowData"></p-tableCheckbox>-->
                <p-checkbox name="group1" inputId="ny"></p-checkbox>
            </td>
            <td *ngFor="let col of columns" style="height: 0.5em; font-size: 1em;">
                <span class="ui-column-title">{{ col.header }}</span>

                <span [ngSwitch]="col.field">
                    <div *ngSwitchCase="'cci_empresa'"> {{rowData['cno_empresa']}} </div>

                    <div *ngSwitchCase="'cci_tipocmpr'"> {{rowData['descripcion_cci_tipocmpr']}} </div>

                    <div *ngSwitchCase="'ces_fe'">
                        <div [ngSwitch]="rowData['ces_fe']">
                            <div *ngSwitchCase="'A'" [style.color]="'Green'"> {{rowData['descripcion_ces_fe']}}
                            </div>

                            <div *ngSwitchCase="'R'" [style.color]="'Red'"> {{rowData['descripcion_ces_fe']}}
                            </div>

                            <div *ngSwitchDefault [style.color]="'Black'"> {{rowData['descripcion_ces_fe']}}
                            </div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'pdf'">
                        <button pButton icon="pi pi-cog" style="margin-right: .3em" *ngIf="rowData['ces_fe']!=='A'"
                            pTooltip="Proceso Completo" tooltipPosition="bottom"></button>
                        <button pButton icon="fa fa-print" style="margin-right: .3em" pTooltip="Generar pdf"
                            tooltipPosition="bottom" (click)="imprimirDocumento(rowData)"></button>
                        <button pButton icon="fa fa-envelope" style="margin-right: .3em" pTooltip="Enviar Mail"
                            tooltipPosition="bottom" (click)="enviarMailDocumento(rowData)"></button>
                        <!--<button pButton label="Click" style="height: 1.1em"></button>-->
                    </div>

                    <div *ngSwitchDefault> {{rowData[col.field]}} </div>
                </span>

                <!--<span *ngIf="col.field=='cci_empresa'">
                    {{rowData['cno_empresa']}}
                </span>

                <span *ngIf="col.field!=='pdf'">
                    {{rowData[col.field]}}
                </span>

                <span *ngIf="col.field =='pdf'">
                    <button pButton icon="pi pi-cog" style="margin-right: .3em"></button>
                    <button pButton icon="fa fa-print" style="margin-right: .3em"></button>
                    <button pButton icon="fa fa-envelope"></button>
                </span>-->
            </td>
        </tr>
        <div class="div-component">

        </div>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-grid">
            <div class="p-col-12 p-md-6" style="text-align: left">
                <p-splitButton label="Procesar y Enviar Mail" icon="fa fa-star" (onClick)="save()" [model]="items">
                </p-splitButton>
            </div>

            <div class="p-col-12 p-md-6" style="text-align: right">
                <button pButton label="Borrar filtro" icon="fa fa-repeat" (click)="resetFilter()"></button>
            </div>
        </div>

        <!--<div class="ui-helper-clearfix" style="text-align: left">-->
        <!--<button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                style="margin-right: 0.5em;"></button>
            <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                style="margin-right: 0.5em;" class="ui-button-success"></button>
            <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF"
                class="ui-button-warning"></button>
            <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only"
                style="float:right"></button>-->

        <!--<div class="p-grid">
                <div class="p-col">
                    <p-splitButton label="Procesar y Enviar Mail" icon="fa fa-star" (onClick)="save()" [model]="items">
                    </p-splitButton>
                </div>
                <div class="p-col"></div>
                <div class="p-col">
                    <button pButton label="Borrar filtro" icon="fa fa-print"></button>
                </div>-->
        <!--    <p-splitButton label="Procesar y Enviar Mail" icon="fa fa-star" (onClick)="save()" [model]="items">
            </p-splitButton>
        </div>
        <div style="text-align: right">
            <button pButton label="Borrar filtro" icon="fa fa-print"></button>
        </div>-->
    </ng-template>
</p-table>

<!--
<p-table>
    <ng-template pTemplate="caption">
        Procesar Documentos Electronicos
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
-->