<p-table #dt [columns]="cols" [value]="documentos" [responsive]="true" [paginator]="true" [rows]="3" [lazy]="true"
    [totalRecords]="totalRecords" (onLazyLoad)="loadLazy($event)" [(first)]="first">
    <ng-template pTemplate="caption">
        Procesar Documentos Electronicos
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [ngStyle]="{'width': col.width, 'display': col.display}">
                {{col.header}}
            </th>
            <!--<th style="width:4em">PDF</th>-->
        </tr>
        <tr>
            <th style="width: 3em">

            </th>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <p-multiSelect *ngSwitchCase="'cci_empresa'" [options]="empresas" [style]="{'width':'100%'}"
                    defaultLabel="TODOS" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)">
                </p-multiSelect>

                <p-multiSelect *ngSwitchCase="'cci_tipocmpr'" [options]="tipo" [style]="{'width':'100%'}"
                    defaultLabel="TODOS" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)">
                </p-multiSelect>

                <input *ngSwitchCase="'nci_documento'" pInputText type="text" [style]="{'width':'100%'}"
                    (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" pKeyFilter="int"
                    [(ngModel)]="txtDocumento">

                <p-multiSelect *ngSwitchCase="'ces_fe'" [options]="grades" [style]="{'width':'100%'}"
                    defaultLabel="TODOS" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)">
                </p-multiSelect>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
                <span class="ui-column-title">{{ col.header }}</span>

                <span *ngIf="col.field!=='pdf'">
                    {{rowData[col.field]}}
                </span>

                <span *ngIf="col.field =='pdf'">
                    <button pButton icon="fa fa-print" style="margin-right: .3em"></button>
                    <button pButton icon="fa fa-envelope"></button>
                </span>
            </td>
        </tr>
        <div class="div-component">

        </div>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="ui-helper-clearfix" style="text-align: left">
            <!--<button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                style="margin-right: 0.5em;"></button>
            <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                style="margin-right: 0.5em;" class="ui-button-success"></button>
            <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF"
                class="ui-button-warning"></button>
            <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only"
                style="float:right"></button>-->

            <p-splitButton label="Procesar y Enviar Mail" icon="fa fa-star" [model]="items"></p-splitButton>
        </div>
    </ng-template>
</p-table>

<!--
<p-table>
    <ng-template pTemplate="caption">
        Procesar Documentos Electronicos
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
-->